.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
}

.App-header:hover{
  cursor: pointer;
}

.search-bar {
  width: 25%;
  margin-left: 25px;
  border-radius: 25px;
  border: 2px solid #dad8d8;
  padding: 20px;
}

input:focus {
  outline: none !important;
  border: 2px solid #408cd7;
  box-shadow: 0 0 10px #6e98ed;
}

.search-button{
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  left: -45px;
  top: 10px;
}

.search-button:hover{
  cursor: pointer;
}