.search{
    border: 2px solid rgb(242, 235, 235);
    box-shadow: 5px 0px 10px #888888;
    height: 120px;
    margin-bottom: 10px;
}

.image-container{
    margin-top: 20px;
    height: 100px;
    width: 150px;
}

.search-logo {
   max-width: 100%;
   max-height: 100%;
}

.search-logo:hover{
    cursor: pointer;
}

.search-bar-nav{
    top: -90px;
    left: 160px;
    position: relative;
    width: 35%;
    border-radius: 25px;
    border: 2px solid #dad8d8;
    padding: 15px;
}

input:focus {
    outline: none !important;
    border: 2px solid #408cd7;
    box-shadow: 0 0 10px #6e98ed;
}

.search-button-nav{
    height: 30px;
    width: 30px;
    position: relative;
    top: -80px;
    left: 115px;
}

.search-button-nav:hover{
    cursor: pointer;
}

.search-container{
    margin-left: 50px;
}

.search-title{
    font-size: 20px;
    font-weight: bold;
    color: #408cd7;
    margin-top: 10px;
}

.search-description{
    font-size: 15px;
    color: #898989;
    margin-bottom: 10px;
}
.pagination {
    display: inline-block;
    padding-inline-start: 12px;
    margin-bottom: 5px;
}

.page-item{
    display: block;
    float: left;
}

.page-link {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #408cd7;
    text-decoration: none;
}

.page-link:hover, .page-link:focus{
    background-color: #b9bec3;
    color: rgb(15, 15, 15);
    border-radius: 40%;
    cursor: pointer;
}

.v-line{
    position: relative;
    top: -80px;
    left: 77px;
    display: inline-block;
    border-left: 2px solid #dad8d8;
    height: 30px;
}

.cancel-container {
    display: inline-block;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    position: relative;
    top: -146px;
    left: 550px;
}

.reset-button {
    max-width: 20px;
    max-height: 20px;
    position: relative;
    top: -86px;
    left: 105px;
}